@{
    ViewBag.Title = "Home Page";
}



<html>
<body>
    <input id="myInput" type="text">

    <button onclick="myFunction()">Try it</button>

    <p id="demo">This is Paragraph</p>

    @*Script to show what is statement
        <script>
        function myFunction() {
            document.getElementById("demo").innerHTML = "Hello Pankaj";
        }

        </script>*@

    @*Script for switch() statement
        <script>
            function myFunction() {
                var text;
                var fruits = document.getElementById("myInput").value;
                switch (fruits) {
                case "Banana":
                    alert("Banana is good");
                    break;
                case "Orange":
                    text = "Orange is also good";
                    break;
                default :
                    text = "Please write something";


                }
                document.getElementById("demo").innerHTML = text;
            }
        </script>*@

    @*Script for for() Statement
            <script>
            function myFunction() {
                var text = "";
                for (var i = 0; i < 5; i++) {
                    text += "The Number Is " + i + "<br>";
                }
                document.getElementById("demo").innerHTML = text;
            }
        </script>*@

</body>
</html>
